:root {
  --white-color: #fff;
  --card-color: #F9f4EA;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  height: 5em;
  width: 100%;
  background-color: #30343f;
  margin-bottom: 2.5em;
}

header h1 {
  color: var(--white-color);
  text-align: center;
}

main {
  /* padding: 1em; */
  margin: 0 auto;
  list-style: none;
  user-select: none;
  display: grid;
  grid-gap: 1.5em;
  /* grid-template-columns: repeat(auto-fit, minmax(12.5em, 1fr)); */
  /* grid-template-rows: repeat(6, 1fr); */
  grid-auto-flow: row dense;
  min-height: 100vh;
}

section {
  border-radius: 1em;
  /* cursor: move; */
}

.card-inner {
  /* background-color: #fff; */
  padding: 0 1em;
  /* color: var(--white-color); */
  font-weight: bold;
}

/* Cards */
.cardGameInfo {
  background-color: var(--card-color);
  grid-area: span 2 / span 2;
}

.cardScore {
  background-color: var(--card-color);
  grid-area: span 4 / span 2;
  min-height: auto;
}

.cardConfig {
  background-color: var(--card-color);
  grid-area: span 2 / span 1;
  height: 10em;
}

.cardTeam {
  display: flex;
  flex-direction: column;
  background-color: wheat;
  grid-area: span 2 / span 3;
}

/* Player cards */
.teamPlayer-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(12em, 1fr));
  padding: 0.5em;
}

.teamPlayer-card {
  display: flex;
  flex-direction: row;
  height: 4em;
  border: 3px solid black;
  margin: 0.5em;
  width: 12em;
}

.jerseyNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 100%;
  font-size: 1.5em;
  font-weight: bold;
  border-right: 3px solid black;
}

.namestat-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.playerName {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gameStats {
  width: 100%;
  margin: 0 auto 0.2em auto;
  display: flex;
  justify-content: space-around;
}

/* Gamestats */
.goal {
  padding: 0.2em 0.35em;
  background-color: #40fc40;
  border-radius: 0.3em;
}

.assist {
  padding: 0.2em 0.35em;
  background-color: #3f71fc;
  border-radius: 0.3em;
}

.block {
  padding: 0.2em 0.35em;
  background-color: #f14545;
  border-radius: 0.3em;
}

.turnover {
  padding: 0.2em 0.35em;
  background-color: #f7d643;
  border-radius: 0.3em;
}

@media (min-width: 48rem) {
  main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-template-rows: 1fr 1fr;  */
    grid-auto-rows: fit-content(1em);
    gap: 12px 12px;
    grid-template-areas:
      "Config Game-info"
      "Scoreboard cardteam1"
      "Scoreboard cardteam2"
      ;
    height: 100vh;
  }

  /* Cards */
  .cardGameInfo {
    background-color: var(--card-color);
    grid-area: Game-info;
  }

  .cardScore {
    background-color: var(--card-color);
    grid-area: Scoreboard;
  }

  .cardconfig {
    background-color: var(--card-color);
    grid-area: Config
  }

  .cardteam1 {
    display: flex;
    flex-direction: column;
    background-color: wheat;
    grid-area: cardteam1;
  }

  .cardteam2 {
    display: flex;
    flex-direction: column;
    background-color: wheat;
    grid-area: cardteam2;
  }

  /* Card selector block */
  .cardconfig {

  }


}